html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.swiper {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide:hover {
  cursor: grab;
}

.swiper-slide:active {
  cursor: grabbing;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper .swiper-button-next, .swiper .swiper-button-prev {
  color: #343f52;
}

.html-list {
  margin: 0;
}
.html-list li {
  margin-bottom: 20px;
}
.html-list__caption {
  font-size: 0.9rem;
  font-weight: 700;
  color: #222936;
  padding-top: 5px;
}
@media (min-width: 320px) {
  .html-list__caption {
    font-size: calc( 14.4px + (17.6 - 14.4) * ((100vw - 320px) / (1320 - 320)));
  }
}
@media (min-width: 1320px) {
  .html-list__caption {
    font-size: 1.1rem;
  }
}
.html-list__text-item {
  font-weight: 500;
  color: #707d97;
  margin-top: 5px;
}

.html-list-ol {
  padding: 0;
  list-style: none;
  counter-reset: num;
}
.html-list-ol__item {
  position: relative;
  padding-left: 50px;
}
.html-list-ol__item:before {
  content: counter(num);
  counter-increment: num;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #4A6089;
  color: #fff;
  text-align: right;
  font-size: 0.8rem;
  font-weight: 700;
}
@media (min-width: 320px) {
  .html-list-ol__item:before {
    font-size: calc( 12.8px + (14.4 - 12.8) * ((100vw - 320px) / (1320 - 320)));
  }
}
@media (min-width: 1320px) {
  .html-list-ol__item:before {
    font-size: 0.9rem;
  }
}

.table-flex {
  display: flex;
  flex-direction: column;
}
.table-flex__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid #E3E3E3;
}
.table-flex__row:hover:not(.table-flex__row_heading) {
  background: #f2f2f2;
}
.table-flex__row_heading {
  font-weight: bold;
  background: #DDDDDD;
  text-transform: uppercase;
  font-size: 0.7rem;
}
@media (min-width: 320px) {
  .table-flex__row_heading {
    font-size: calc( 11.2px + (12.8 - 11.2) * ((100vw - 320px) / (1320 - 320)));
  }
}
@media (min-width: 1320px) {
  .table-flex__row_heading {
    font-size: 0.8rem;
  }
}
.table-flex__row:last-child {
  border-bottom: none;
}
.table-flex__item {
  font-size: 0.9rem;
  margin-right: 10px;
}
@media (min-width: 320px) {
  .table-flex__item {
    font-size: calc( 14.4px + (16 - 14.4) * ((100vw - 320px) / (1320 - 320)));
  }
}
@media (min-width: 1320px) {
  .table-flex__item {
    font-size: 1rem;
  }
}
.table-flex__item:last-child {
  margin-right: 0;
}
.table-flex__item_1 {
  flex: 1;
}
.table-flex__item_2 {
  flex: 2;
}
.table-flex__item_3 {
  flex: 3;
}
.table-flex__item_4 {
  flex: 4;
}
.table-flex__item_5 {
  flex: 5;
}
.table-flex__item_6 {
  flex: 6;
}
.table-flex__item_7 {
  flex: 7;
}
.table-flex__item_8 {
  flex: 8;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-85 {
  margin-bottom: 85px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-95 {
  margin-bottom: 95px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-105 {
  margin-bottom: 105px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-70 {
  margin-top: 70px;
}

.p-b-5 {
  padding-bottom: 5px;
}

.p-y-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.p-y-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.p-y-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.p-y-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.p-x-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.p-x-30 {
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (min-width: 576px) {
  .mb-sm-15 {
    margin-bottom: 15px !important;
  }
  .mb-sm-20 {
    margin-bottom: 20px !important;
  }
  .mb-sm-30 {
    margin-bottom: 30px !important;
  }
  .mb-sm-80 {
    margin-bottom: 80px !important;
  }
}
@media screen and (min-width: 768px) {
  .mb-md-20 {
    margin-bottom: 20px !important;
  }
  .mb-md-25 {
    margin-bottom: 25px !important;
  }
  .mb-md-30 {
    margin-bottom: 30px !important;
  }
  .mb-md-35 {
    margin-bottom: 35px !important;
  }
  .mb-md-120 {
    margin-bottom: 120px !important;
  }
  .mt-md-70 {
    margin-top: 70px;
  }
}
@media screen and (min-width: 992px) {
  .mb-lg-30 {
    margin-bottom: 30px !important;
  }
  .mb-lg-140 {
    margin-bottom: 140px !important;
  }
}
.background-gradient-malibu {
  background-color: #8EC5FC;
  background-image: linear-gradient(166deg, #8EC5FC 0%, #E0C3FC 42%, #ffffff 100%);
}

.background-white {
  background: #fff !important;
}

html, body {
  font-family: "Inter", sans-serif;
  line-height: normal;
  height: 100%;
}

h1,
h2,
h3 {
  color: #343f52;
}

h1 {
  font-size: 2rem;
  margin: 0;
}
@media (min-width: 320px) {
  h1 {
    font-size: calc( 32px + (48 - 32) * ((100vw - 320px) / (1320 - 320)));
  }
}
@media (min-width: 1320px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.625rem;
  margin: 0;
}
@media (min-width: 320px) {
  h2 {
    font-size: calc( 26px + (38 - 26) * ((100vw - 320px) / (1320 - 320)));
  }
}
@media (min-width: 1320px) {
  h2 {
    font-size: 2.375rem;
  }
}

h3 {
  font-size: 1.375rem;
  margin: 0;
}
@media (min-width: 320px) {
  h3 {
    font-size: calc( 22px + (32 - 22) * ((100vw - 320px) / (1320 - 320)));
  }
}
@media (min-width: 1320px) {
  h3 {
    font-size: 2rem;
  }
}

ul li,
ol li {
  margin-bottom: 5px;
}

ul li:last-child,
ol li:last-child {
  margin-bottom: 0;
}

p, ul li, ol li {
  color: #60697b;
  line-height: 1.5;
}

.link-phone {
  font-weight: 700;
  color: #343f52;
}

.link-phone:hover {
  text-decoration: none;
}

.content-wrapper {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  height: 100%;
}

.header {
  flex: 0 0 auto;
}

.content-block {
  flex: 1 0 auto;
  margin-bottom: 40px;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.phone__number {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: #181818;
}
.phone__number:hover {
  text-decoration: underline;
}
@media screen and (max-width: 576px) {
  .phone__text-number {
    display: none;
  }
}
.phone__incon-phone {
  display: none;
}
@media screen and (max-width: 576px) {
  .phone__incon-phone {
    display: block;
    width: 28px;
    height: 28px;
  }
}

.contact-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.contact-list__item {
  display: flex;
  margin-bottom: 30px;
}
.contact-list__item > div {
  margin-left: 15px;
}
@media screen and (max-width: 768px) {
  .contact-list__item > div {
    margin: 0;
  }
}
.contact-list__item > div p {
  margin: 0;
}
@media screen and (max-width: 768px) {
  .contact-list__item {
    display: block;
  }
}

.csm-call-back-form__success-message {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  color: #205C13;
  font-weight: 700;
  transition: visibility 0.2s 0.1s, opacity 0.1s, max-height 0.3s 0.15s;
}
.csm-call-back-form__success-message div {
  text-transform: uppercase;
  padding-bottom: 10px;
}
.csm-call-back-form__success-message.csm-call-back-form__visibility-visible {
  visibility: visible;
  opacity: 1;
  max-height: 200px;
  transition: visibility 0.3s 0.15s, opacity 0.3s 0.15s, max-height 0.25s 0.1s;
}
.csm-call-back-form__input_error {
  border-color: #A40D0D !important;
  transition: all 0.15s 0.05s;
}
.csm-call-back-form__input_success {
  border-color: #205C13 !important;
}
.csm-call-back-form__validate {
  font-size: 0.8rem;
  font-weight: 700;
  visibility: hidden;
  max-height: 0;
  opacity: 0;
  transform: translateY(5px);
  transition: opacity 0.15s 0.05s, transform 0.15s 0.05s, max-height 0.15s 0.05s;
}
@media (min-width: 320px) {
  .csm-call-back-form__validate {
    font-size: calc( 12.8px + (14.4 - 12.8) * ((100vw - 320px) / (1320 - 320)));
  }
}
@media (min-width: 1320px) {
  .csm-call-back-form__validate {
    font-size: 0.9rem;
  }
}
.csm-call-back-form__validate > div {
  padding-top: 5px;
}
.csm-call-back-form__validate_visible {
  visibility: visible;
  max-height: 50px;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.15s 0.05s, transform 0.15s 0.05s, max-height 0.15s 0.05s;
}
.csm-call-back-form__validate_error {
  color: #A40D0D;
}
.csm-call-back-form__validate_success {
  color: #205C13;
}

.d-none {
  display: none;
}

.visibility-hidden {
  visibility: hidden;
}

.visibility-visible {
  visibility: visible;
}

.video-responsive {
  position: relative;
  max-width: 600px;
  height: 420px;
  margin: 40px auto;
}
.video-responsive__iframe {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 150px;
  box-sizing: border-box;
}
@media screen and (max-width: 992px) {
  .header {
    height: 120px;
  }
}
@media screen and (max-width: 576px) {
  .header {
    height: 57px;
    margin-bottom: 10px;
  }
}
.header__right {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.header__right > div {
  padding: 0 15px;
}
.header__right > div:last-child {
  padding: 0 0 0 15px;
}
@media screen and (max-width: 576px) {
  .header__right > div {
    padding: 0 0 0 15px;
  }
}

.logo {
  z-index: 4;
}
@media screen and (max-width: 576px) {
  .logo {
    height: 31px;
  }
}
.logo__img {
  height: auto;
}
@media screen and (max-width: 576px) {
  .logo__img {
    max-width: 150px;
  }
}

.navigation__block {
  width: 42px;
  height: 20px;
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
  overflow: hidden;
  z-index: 4;
  transition: height 0.1s 0.32s;
}
.navigation__block::before {
  content: "";
  display: block;
  transform: rotate(45deg) translate(41px, 4px);
  width: 37px;
  height: 3px;
  background: #181818;
  transition: transform 0.1s 0.15s;
}
.navigation__block::after {
  content: "";
  display: block;
  transform: rotate(-45deg) translate(41px, -4px);
  width: 37px;
  height: 3px;
  background: #181818;
  transition: transform 0.15s 0.2s;
}
.navigation__block.navigation__block_show_navigation::before {
  transform: rotate(45deg) translate(-2px, 4px);
  transition: transform 0.15s 0.45s;
}
.navigation__block.navigation__block_show_navigation::after {
  transform: rotate(-45deg) translate(-2px, -4px);
  transition: transform 0.2s 0.53s;
}
.navigation__block.navigation__block_show_navigation {
  height: 42px;
  transition: height 0.1s 0.32s;
  z-index: 4;
}
.navigation__block.navigation__block_show_navigation > span:nth-child(1) {
  width: 0%;
  top: 0;
  transition: width 0.1s 0.05s;
}
.navigation__block.navigation__block_show_navigation > span:nth-child(2) {
  width: 0%;
  top: 8px;
  transition: width 0.15s 0.1s;
}
.navigation__block.navigation__block_show_navigation > span:nth-child(3) {
  width: 0%;
  top: 16px;
  margin-left: 21px;
  transition: width 0.2s 0.15s;
}
.navigation__block > span:nth-child(1) {
  width: 50%;
  top: 0;
  transition: width 0.3s 0.2s;
}
.navigation__block > span:nth-child(2) {
  width: 100%;
  top: 8px;
  transition: width 0.3s 0.25s;
}
.navigation__block > span:nth-child(3) {
  width: 50%;
  top: 16px;
  margin-left: 21px;
  transition: width 0.3s 0.3s;
}
@media screen and (min-width: 769px) {
  .navigation__block:hover:not(.navigation__block_show_navigation) > span:nth-child(1) {
    width: 43%;
    transition: width 0.3s 0.2s;
  }
  .navigation__block:hover:not(.navigation__block_show_navigation) > span:nth-child(2) {
    width: 93%;
    transition: width 0.3s 0.25s;
  }
  .navigation__block:hover:not(.navigation__block_show_navigation) > span:nth-child(3) {
    width: 43%;
    transition: width 0.3s 0.3s;
  }
}
.navigation__burger-line {
  position: absolute;
  display: block;
  height: 3px;
  background-color: #181818;
}

.navigation-block {
  box-sizing: border-box;
  position: fixed;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background: #e9e9e9;
  transition: bottom 0.4s 0.2s;
  padding: 200px 10px 50px 10px;
  z-index: 3;
}
@media screen and (max-width: 768px) {
  .navigation-block {
    padding: 140px 10px 10px 10px;
  }
}
@media screen and (max-width: 576px) {
  .navigation-block {
    padding: 70px 10px 10px 10px;
  }
}
.navigation-block__wrapper {
  height: 100%;
  display: flex;
  align-items: stretch;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .navigation-block__wrapper {
    display: block;
    overflow-y: scroll;
  }
}
.navigation-block__right {
  flex-basis: 65%;
  padding: 0 0 0 30px;
  border-left: 1px solid #6c6c6c;
}
@media screen and (max-width: 992px) {
  .navigation-block__right {
    flex-basis: 40%;
  }
}
@media screen and (max-width: 768px) {
  .navigation-block__right {
    max-width: 300px;
    border-left: none;
    padding: 0;
    margin: 0 auto;
  }
}
.navigation-block__left {
  flex-basis: 35%;
  position: relative;
}
@media screen and (max-width: 992px) {
  .navigation-block__left {
    flex-basis: 60%;
  }
}
@media screen and (max-width: 768px) {
  .navigation-block__left {
    margin-bottom: 50px;
  }
}
.navigation-block__container {
  bottom: 0;
  transition: bottom 0.4s 0.15s;
}
.navigation-block__container .navigation-block__navigation {
  transform: translateY(0%);
  transition: transform 0.3s 0.7s;
}
.navigation-block__navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  transform: translateY(-100%);
  transition: transform 0.2s;
}
.navigation-block__navigation-item {
  margin: 0 0 25px 0;
}
@media screen and (max-width: 992px) {
  .navigation-block__navigation-item {
    margin: 0 0 18px 0;
  }
}
@media screen and (max-width: 768px) {
  .navigation-block__navigation-item {
    text-align: center;
    margin: 0;
    border-bottom: 1px solid #b6b6b6;
  }
  .navigation-block__navigation-item > a {
    display: block;
    padding: 10px 0;
  }
  .navigation-block__navigation-item a, .navigation-block__navigation-item a:hover, .navigation-block__navigation-item a:active {
    text-decoration: none;
  }
}
.navigation-block__triangle-icon {
  transform: rotate(0deg);
  transition: transform 0.5s;
  display: inline-block;
}
@media screen and (max-width: 576px) {
  .navigation-block__triangle-icon {
    width: 12px;
    height: 12px;
  }
}
.navigation-block__triangle-icon_rotate {
  transform: rotate(180deg);
  transition: transform 0.5s;
}
.navigation-block__navigation-item .navigation-block__subnav {
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 20px;
  list-style: none;
  border-left: 1px solid #7a7a7a;
  opacity: 0;
  transform: translateY(15px);
  transition: opacity 0.5s 0.2s, transform 0.2s 0.4s;
}
@media screen and (max-width: 768px) {
  .navigation-block__navigation-item .navigation-block__subnav {
    position: static;
    display: none;
    width: 100%;
    border-left: none;
    padding: 0;
    margin: 0 0 15px 0;
    opacity: 1;
  }
}
.navigation-block__subnav-item {
  margin-bottom: 10px;
}
.navigation-block__subnav-item > a {
  font-size: 1rem;
  text-decoration: none;
  font-weight: 400;
  color: #565656;
}
@media (min-width: 320px) {
  .navigation-block__subnav-item > a {
    font-size: calc( 16px + (17.6 - 16) * ((100vw - 320px) / (1320 - 320)));
  }
}
@media (min-width: 1320px) {
  .navigation-block__subnav-item > a {
    font-size: 1.1rem;
  }
}
.navigation-block__subnav-item > a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .navigation-block__subnav-item {
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid #cecece;
  }
  .navigation-block__subnav-item:last-child {
    border-bottom: none;
  }
  .navigation-block__subnav-item > a {
    display: block;
    padding: 5px 0;
  }
}
@media screen and (min-width: 769px) {
  .navigation-block__navigation-item:hover .navigation-block__subnav {
    display: block;
    opacity: 1;
    transition: opacity 0.2s 0.1s, transform 0.2s 0.1s;
    transform: translateY(0px);
  }
}
.navigation-block__navigation-link {
  font-size: 1.25rem;
  font-weight: 200;
  text-decoration: none;
  color: #303030;
}
@media (min-width: 320px) {
  .navigation-block__navigation-link {
    font-size: calc( 20px + (36 - 20) * ((100vw - 320px) / (1320 - 320)));
  }
}
@media (min-width: 1320px) {
  .navigation-block__navigation-link {
    font-size: 2.25rem;
  }
}
.navigation-block__navigation-link:hover {
  text-decoration: underline;
}
@media screen and (max-width: 992px) {
  .navigation-block__navigation-link {
    font-size: 28px;
  }
}
@media screen and (max-width: 576px) {
  .navigation-block__navigation-link {
    font-size: 20px;
  }
}
.navigation-block__triangle {
  visibility: hidden;
}
@media screen and (max-width: 768px) {
  .navigation-block__triangle {
    visibility: visible;
  }
}
.navigation-block__contact-title {
  font-size: 28px;
  font-size: 1.375rem;
  font-weight: 500;
  text-transform: uppercase;
  width: 450px;
  margin-bottom: 45px;
}
@media (min-width: 320px) {
  .navigation-block__contact-title {
    font-size: calc( 22px + (28 - 22) * ((100vw - 320px) / (1320 - 320)));
  }
}
@media (min-width: 1320px) {
  .navigation-block__contact-title {
    font-size: 1.75rem;
  }
}
@media screen and (max-width: 992px) {
  .navigation-block__contact-title {
    width: 100%;
    margin-bottom: 26px;
  }
}
@media screen and (max-width: 768px) {
  .navigation-block__contact-title {
    display: none;
  }
}
.navigation-block__contact-subtitle {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 15px;
}
@media (min-width: 320px) {
  .navigation-block__contact-subtitle {
    font-size: calc( 16px + (18 - 16) * ((100vw - 320px) / (1320 - 320)));
  }
}
@media (min-width: 1320px) {
  .navigation-block__contact-subtitle {
    font-size: 1.125rem;
  }
}
@media screen and (max-width: 768px) {
  .navigation-block__contact-subtitle {
    text-align: center;
  }
}
.navigation-block__adress-description {
  font-size: 0.875rem;
  font-weight: 500;
  color: #565656;
}
@media (min-width: 320px) {
  .navigation-block__adress-description {
    font-size: calc( 14px + (16 - 14) * ((100vw - 320px) / (1320 - 320)));
  }
}
@media (min-width: 1320px) {
  .navigation-block__adress-description {
    font-size: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .navigation-block__adress-description {
    text-align: center;
  }
}
.navigation-block__phone {
  font-size: 16px;
  font-weight: 900;
}
.navigation-block__phone a {
  text-decoration: none;
  color: #565656;
}
@media screen and (max-width: 768px) {
  .navigation-block__phone {
    text-align: center;
  }
}
.navigation-block__incon-adress {
  transform: scale(0);
  transition: transform 0.15s 0.15s;
}
@media screen and (max-width: 992px) {
  .navigation-block__incon-adress {
    width: 24px;
    height: 24px;
  }
}
@media screen and (max-width: 768px) {
  .navigation-block__incon-adress {
    display: none;
  }
}
.navigation-block__container .navigation-block__incon-adress_map {
  transform: scale(1);
  transition: transform 0.15s 0.8s;
}
.navigation-block__container .navigation-block__incon-adress_phone {
  transform: scale(1);
  transition: transform 0.15s 0.9s;
}

.search__button {
  background: none;
  border: none;
  width: 42px;
  height: 20px;
  padding: 0;
}
.search__button:hover {
  cursor: pointer;
}

.search-block {
  visibility: visible;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 2;
}
.search-block.search-block_show {
  visibility: visible;
}
.search-block__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-block__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: #fff;
  opacity: 0.85;
}
.search-block.search-block_show .search-block__overlay {
  transition: opacity 0.2s 0.3s;
  opacity: 0.85;
}
.search-block__content {
  position: relative;
  width: 400px;
}

.input {
  position: relative;
  border-radius: 4px;
}
.input__wrapper-field {
  border-radius: 4px;
}
.input__label {
  position: absolute;
  top: 13px;
  left: 15px;
  font-size: 16px;
  font-weight: 400;
  color: #979797;
  margin-bottom: 5px;
  transition: top 0.2s, font-size 0.2s;
  z-index: 1;
}
.input__label.input__label_min_top {
  transition: top 0.2s, font-size 0.2s;
  top: 5px;
  font-size: 12px;
}
.input__text {
  width: 100%;
  height: 48px;
  padding: 20px 0 10px 15px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #c3c3c3;
  border-radius: 4px;
  background: transparent;
  position: relative;
  z-index: 2;
  transition: border 0.15s 0.05s;
  vertical-align: top;
}
.input__text.input__text-textarea {
  height: auto;
}
.input__text:focus {
  border: 1px solid #a8d2f3;
}

.button-element {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button-md {
  font-size: 0.85rem;
  font-weight: 500;
  padding: 15px 25px;
  border-radius: 5px;
}
@media (min-width: 320px) {
  .button-md {
    font-size: calc( 13.6px + (16 - 13.6) * ((100vw - 320px) / (1320 - 320)));
  }
}
@media (min-width: 1320px) {
  .button-md {
    font-size: 1rem;
  }
}

.btn-color-blue {
  background-color: #1e52d2;
  transition: background-color 0.2s 0.1s;
  color: #fff;
}

.btn-color-blue:hover {
  background-color: #1244c3;
  transition: background-color 0.2s 0.1s;
}

.close-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.close-button:hover .close-button__content::before, .close-button:hover .close-button__content::after {
  background: #191919;
  transition: background 0.15s 0.1s;
}
.close-button__content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.close-button__content::before, .close-button__content::after {
  content: " ";
  position: absolute;
  display: block;
  width: 40px;
  height: 1px;
  background: #525252;
  transition: background 0.15s 0.1s;
}
.close-button__content::before {
  transform: rotate(45deg) translate(13px, 14px);
}
.close-button__content::after {
  transform: rotate(-45deg) translate(-13px, 14px);
}

.close-button-position {
  top: 10px;
  right: 10px;
}

/* Phone Button */
.csm-call-back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  position: fixed;
  right: 25px;
  bottom: 90px;
  background: #3f78e0;
  border-radius: 50%;
  cursor: pointer;
  animation: radial-pulse 1.3s infinite;
  z-index: 5;
}
.csm-call-back__circle {
  width: 28px;
  height: 28px;
}

@media only screen and (max-width: 575px) {
  .csm-call-back {
    bottom: 15px;
    right: 15px;
  }
}
@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(63, 120, 224, 0.5);
  }
  100% {
    box-shadow: 0 0 0 30px rgba(100, 152, 245, 0);
  }
}
.content-block {
  padding-right: 10px;
  padding-left: 10px;
}

.footer {
  padding: 60px 10px;
  background: #1c1d24;
}
@media screen and (max-width: 576px) {
  .footer {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}
.footer__logo {
  margin-bottom: 10px;
}
.footer__logo-img {
  height: auto;
}
@media screen and (max-width: 576px) {
  .footer__logo-img {
    width: 150px;
  }
}
.footer__social-block {
  margin-bottom: 15px;
}
.footer__copyright > p {
  font-size: 0.9rem;
  font-weight: 300;
  margin: 0;
  color: #fff;
}
@media (min-width: 320px) {
  .footer__copyright > p {
    font-size: calc( 14.4px + (16 - 14.4) * ((100vw - 320px) / (1320 - 320)));
  }
}
@media (min-width: 1320px) {
  .footer__copyright > p {
    font-size: 1rem;
  }
}

.block-two-col__wrapper {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .block-two-col__wrapper {
    align-items: start;
  }
}
@media screen and (max-width: 768px) {
  .block-two-col__wrapper {
    flex-direction: column-reverse;
    align-items: stretch;
  }
}
@media screen and (max-width: 768px) {
  .block-two-col__wrapper.block-two-col__wrapper_reverse {
    flex-direction: column;
    align-items: stretch;
  }
}
.block-two-col__left {
  margin-left: 9%;
}
@media screen and (max-width: 992px) {
  .block-two-col__left {
    margin-left: 0;
  }
}
.block-two-col__left img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 768px) {
  .block-two-col__left img {
    width: 66%;
  }
}
@media screen and (max-width: 576px) {
  .block-two-col__left img {
    width: 100%;
  }
}
.block-two-col__left, .block-two-col__right {
  flex: 1 1 50%;
  padding: 0 35px;
}
@media screen and (max-width: 768px) {
  .block-two-col__left, .block-two-col__right {
    padding: 0;
    margin-bottom: 30px;
  }
}
.block-two-col__label {
  font-size: 0.9rem;
  font-weight: 800;
}
@media (min-width: 320px) {
  .block-two-col__label {
    font-size: calc( 14.4px + (17.6 - 14.4) * ((100vw - 320px) / (1320 - 320)));
  }
}
@media (min-width: 1320px) {
  .block-two-col__label {
    font-size: 1.1rem;
  }
}

.first-screen {
  height: 650px;
  background: #343f52;
  margin-left: -10px;
  margin-right: -10px;
  position: relative;
}
@media screen and (max-width: 992px) {
  .first-screen {
    height: 570px;
  }
}
@media screen and (max-width: 768px) {
  .first-screen {
    height: 490px;
  }
}
@media screen and (max-width: 576px) {
  .first-screen {
    height: 400px;
  }
}
.first-screen__background-img {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.first-screen__overlay-background-img {
  background: #343f52;
  opacity: 0.7;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.first-screen__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.first-screen__content {
  display: flex;
  align-items: stretch;
}
@media screen and (max-width: 768px) {
  .first-screen__content {
    flex-direction: column;
  }
}
.first-screen__left {
  padding: 0 20px 0 10px;
}
.first-screen__main-title {
  color: #fff;
}
.first-screen__description {
  font-size: 1rem;
  color: #fff;
}
@media (min-width: 320px) {
  .first-screen__description {
    font-size: calc( 16px + (20.8 - 16) * ((100vw - 320px) / (1320 - 320)));
  }
}
@media (min-width: 1320px) {
  .first-screen__description {
    font-size: 1.3rem;
  }
}
.first-screen__right {
  padding: 0 10px 0 20px;
}
.first-screen__left, .first-screen__right {
  flex: 1 1 50%;
}
@media screen and (max-width: 768px) {
  .first-screen__left, .first-screen__right {
    flex: 1 1 100%;
    padding: 0 10px;
  }
}

.block-simple__head {
  text-align: center;
}
.block-simple__title {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}
.block-simple__subcaption {
  max-width: 250px;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #979797;
  font-weight: 500;
}
@media (min-width: 320px) {
  .block-simple__subcaption {
    font-size: calc( 12.8px + (17.6 - 12.8) * ((100vw - 320px) / (1320 - 320)));
  }
}
@media (min-width: 1320px) {
  .block-simple__subcaption {
    font-size: 1.1rem;
  }
}

.cards-block__items-wrapper {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, calc(33.333% - 34px)));
  gap: 50px;
  list-style: none;
}
@media screen and (max-width: 992px) {
  .cards-block__items-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(200px, calc(50% - 25px)));
    gap: 50px;
  }
}
@media screen and (max-width: 576px) {
  .cards-block__items-wrapper {
    grid-template-columns: 100%;
    gap: 20px 0;
  }
}
.cards-block__item {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 15px -7px rgba(34, 60, 80, 0.2);
}
.cards-block__item-head {
  flex: 0 0 1;
  margin: 0 0 20px 0;
}
.cards-block__item-head img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.cards-block__item-body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 0 20px 20px 20px;
}
.cards-block__item-title {
  font-weight: 600;
  color: #343f52;
}
.cards-block__item-price {
  font-size: 1.1rem;
  font-weight: 300;
}
@media (min-width: 320px) {
  .cards-block__item-price {
    font-size: calc( 17.6px + (20.8 - 17.6) * ((100vw - 320px) / (1320 - 320)));
  }
}
@media (min-width: 1320px) {
  .cards-block__item-price {
    font-size: 1.3rem;
  }
}
.cards-block__item-price span {
  font-size: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #343f52;
}
@media (min-width: 320px) {
  .cards-block__item-price span {
    font-size: calc( 11.2px + (14.4 - 11.2) * ((100vw - 320px) / (1320 - 320)));
  }
}
@media (min-width: 1320px) {
  .cards-block__item-price span {
    font-size: 0.9rem;
  }
}

.color-block {
  border-radius: 20px;
  padding: 40px 25px;
}

.circle-overlay {
  position: fixed;
  background: #062138;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s 0.6s, visibility 0.3s 0.6s;
}

.circle-overlay.circle-overlay_show {
  opacity: 0.9;
  visibility: visible;
  transition: opacity 0.3s 0.1s, visibility 0.3s 0.1s;
}

.modal-window {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 6;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: start;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s 0.4s, visibility 0.2s 0.4s;
}
.modal-window.modal-window__open {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s 0.4s, visibility 0.2s 0.4s;
}
@media screen and (max-width: 430px) {
  .modal-window {
    padding-top: 30px;
    width: 100%;
  }
}
.modal-window__wrapper {
  width: 430px;
  display: block;
  background: #ffffff;
}
.modal-window__text {
  font-size: 0.9rem;
  font-weight: 600;
  color: #7a7a7a;
}
@media (min-width: 320px) {
  .modal-window__text {
    font-size: calc( 14.4px + (17.6 - 14.4) * ((100vw - 320px) / (1320 - 320)));
  }
}
@media (min-width: 1320px) {
  .modal-window__text {
    font-size: 1.1rem;
  }
}
.modal-window__call-to-action {
  font-size: 1.4rem;
  font-weight: 800;
  color: #343f52;
}
@media (min-width: 320px) {
  .modal-window__call-to-action {
    font-size: calc( 22.4px + (35.2 - 22.4) * ((100vw - 320px) / (1320 - 320)));
  }
}
@media (min-width: 1320px) {
  .modal-window__call-to-action {
    font-size: 2.2rem;
  }
}
.modal-window__privacy {
  font-size: 0.7rem;
  color: #7a7a7a;
}
@media (min-width: 320px) {
  .modal-window__privacy {
    font-size: calc( 11.2px + (14.4 - 11.2) * ((100vw - 320px) / (1320 - 320)));
  }
}
@media (min-width: 1320px) {
  .modal-window__privacy {
    font-size: 0.9rem;
  }
}
.modal-window__privacy a {
  color: #567cdd;
}

.scroll-top {
  width: 46px;
  height: 46px;
  position: fixed;
  bottom: 20px;
  right: 28px;
  border-radius: 50%;
  border: 2px solid #3f78e0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: bottom 0.2s, visibility 0.4s 0.1s, opacity 0.4s 0.1s;
  visibility: hidden;
  opacity: 0;
  z-index: 7;
}
@media screen and (max-width: 576px) {
  .scroll-top {
    display: none;
  }
}
.scroll-top__block_show {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.4s 0.1s, opacity 0.4s 0.1s;
}
.scroll-top:hover {
  bottom: 22px;
  transition: bottom 0.2s;
}
