$color-white: #fff;
$color-dark-gray: #181818;
$color-text-label: #7a7a7a;
$color-text-dark-gray: #303030;
$color-scorpion: #565656;
$color-form-label: #979797;
$color-border-input: #c3c3c3;
$color-border-input-focus: #a8d2f3;
$color-border-light-grey: #b6b6b6;
$color-border-nav-item-light-grey: #cecece;
$color-text-content: #60697b;
$color-text-accent: #343f52;


$background-footer: #1c1d24;
$backgrount-first-screen: #343f52;


// Font size
$font-size-label-min: 12px;
$font-size-label-14: 14px;
$font-size-label-16: 16px;
$font-size-label-18: 18px;
$font-size-label-20: 20px;

// Width
$maxWidthContainer: 1320;
